<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="/js/reg.js"></script>
</head>
<body>
<div id="container">
    <h1>用户注册页面</h1>
    <hr/>
    <!---表单-->
    <form method="post" action="/reg/api" >
        <label>用户名：
            <input type="userName" name="userName" >
        </label><br/>
        <label>密码：
            <input type="password" name="pwd" >
        </label><br/>
        <label>姓名：
            <input type="name" name="name" >
        </label><br/>
        <label>邮箱：
            <input type="email" name="email" >
        </label><br/>
        <label>电话：
            <input type="mobile" name="mobile" >
        </label>
        <p>性别:
            <input id="male" type="radio" checked="checked" name="male"/>男
            <input type="radio" id="female" name="female">女
        </p>
        <button type="submit"> 提交注册 </button>
    </form>
</div>
</body>
</html>